# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
out/

# Logs and reports
*.log
allure-report/
allure-results/
surefire-reports/

# OS
.DS_Store
Thumbs.db